<h1>Listing registrar_salidas</h1>

<table>
  <thead>


    <tr>
      <th>Selccione fecha</th>
      <th>Lugar salida</th>
      <th>Funcionario a cargo</th>
      <th>Ficha del grupo</th>
      <th>Tipo salida pedagogico</th>
      <th>Recreativo</th>
      <th>Otro</th>
      <th>Diga cual</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @registrar_salidas.each do |registrar_salida| %>
      <tr>
        <td><%= registrar_salida.Selccione_fecha %></td>
        <td><%= registrar_salida.lugarSalida %></td>
        <td><%= registrar_salida.FuncionarioACargo %></td>
        <td><%= registrar_salida.fichaGrupo %></td>
        <td><%= registrar_salida.tipoSalida_pedagogico %></td>
        <td><%= registrar_salida.Recreativo %></td>
        <td><%= registrar_salida.Otro %></td>
        <td><%= registrar_salida.digacual %></td>
        <td><%= link_to 'Ver', registrar_salida %></td>
        <td><%= link_to 'Editar', edit_registrar_salida_path(registrar_salida) %></td>
        <td><%= link_to 'Eliminar', registrar_salida, method: :delete, data: { confirm: 'Esta seguro de eliminar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Registrar salida', new_registrar_salida_path %>
