<h1>Lista de registros</h1>

<table>
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Clave</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @logueos.each do |logueo| %>
      <tr>
        <td><%= logueo.usuario %></td>
        <td><%= logueo.clave %></td>
        <td><%= link_to 'Ver', logueo %></td>
        <td><%= link_to 'Editar', edit_logueo_path(logueo) %></td>
        <td><%= link_to 'Eliminar', logueo, method: :delete, data: { confirm: 'Seguro que quieres Eliminar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo logueo', new_logueo_path %>
