<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @logueo.usuario %>
</p>

<p>
  <strong>Clave:</strong>
  <%= @logueo.clave %>
</p>

<%= link_to 'Editar', edit_logueo_path(@logueo) %> |
<%= link_to 'Atras', logueos_path %>
